.gender_table {
    border-collapse: collapse;
    table-layout: auto;
}

.gender_table, .gender_table_data, .gender_table_header {
    border: 1px solid;
}

.gender_table_data > * {
    width: 100%;
}

.table_container {
    width: 70%;
}



.add_container {
    width: 29%;
    position: fixed;
    margin-left: 70%;
}

.flex_container {
    display: flex;
}