.main_table_container {
	width: 80%;
}

.main_table {
	border-collapse: collapse;
	table-layout: auto;
	/*width: 100%;*/
}

.main_table, .main_table_data, .main_table_header {
	border: 1px solid;
}

.main_table_data {
	text-align: center;
	max-width: 150px;
}

.main_table_data > * {
	width: 100%;
}

.sidebar {
	width: 19%;
	position: fixed;
	margin-left: 80%;
}

.flex_container {
	display: flex;
}