.um_table {
    border-collapse: collapse;
}

.um_table, .um_table_data, .um_table_header {
    border: 1px solid;
}

.um_table_data {
    padding-left: 1%;
    padding-right: 1%;
}

.table_container {
    width: 70%;
}



.add_container {
    width: 29%;
    position: fixed;
    margin-left: 70%;
}

.flex_container {
    display: flex;
}